.login-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #151010;
    border-radius: 5px;
    background-color: #40644a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .input-group1 {
    margin-bottom: 15px;
  }
  
  /* label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #110f0f;
    border-radius: 3px;
  } */
  
  /* button {
    width: 100%;
    padding: 10px;
    background-color: #11703d;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  } */
  
  /* button:hover {
    background-color: #0056b3;
  } */
  