.button {
    float: left;
    width: auto;
    /* min-width: 100px; */
    /* width: 20%; */
    height: 20%;
    min-height: 45px;
    max-height: 45px;
    display: block;
    padding: 0.5em 1em;
    border: none;
    background: none;
    color: inherit;
    border-radius: 20px;
    /* vertical-align: middle; */
    position: relative;
    z-index: 1;
    /* -webkit-backface-visibility: hidden; */
    -moz-osx-font-smoothing: grayscale;
  }
  .button:focus {
    outline: none;
  }
  .button > span {
    vertical-align: middle;
  }
  .button--size-s {
    font-size: 14px;
  }
  .button--text-thick {
    font-weight: 600;
  }
  .button--text-upper {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .button--me {
    width: auto;
    padding: 0 1em;
    /* max-width: 100%; */
    background: var(--background-color);
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .button--me.button--inverted {
    background: #fff;
    color: var(--background-color);
  }
  .button--me > span {
    opacity: 0;
    display: inline-block;
    min-width: 2px;
    padding: 0.5em 0;
    color: #fff;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  .button--me::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    /* height: 100%; */
    transform: translate(0, -50%);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  .button--me:hover {
    background-color:  #4bbb53;
  }
  .button--me:hover::before {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .button--me:hover > span {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .button--me:hover > span:nth-child(1) {
    -webkit-transition-delay: 0.045s;
    transition-delay: 0.045s;
  }
  .button--me:hover > span:nth-child(2) {
    -webkit-transition-delay: 0.09s;
    transition-delay: 0.09s;
  }
  .button--me:hover > span:nth-child(3) {
    -webkit-transition-delay: 0.135s;
    transition-delay: 0.135s;
  }
  .button--me:hover > span:nth-child(4) {
    -webkit-transition-delay: 0.18s;
    transition-delay: 0.18s;
  }
  .button--me:hover > span:nth-child(5) {
    -webkit-transition-delay: 0.225s;
    transition-delay: 0.225s;
  }
  .button--me:hover > span:nth-child(6) {
    -webkit-transition-delay: 0.27s;
    transition-delay: 0.27s;
  }
  .button--me:hover > span:nth-child(7) {
    -webkit-transition-delay: 0.315s;
    transition-delay: 0.315s;
  }
  .button--me:hover > span:nth-child(8) {
    -webkit-transition-delay: 0.36s;
    transition-delay: 0.36s;
  }
  .button--me:hover > span:nth-child(9) {
    -webkit-transition-delay: 0.405s;
    transition-delay: 0.405s;
  }
  .button--me:hover > span:nth-child(10) {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
  }
  